.task__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  &-columns {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
    color: #fff;
    background-color: rgb(50, 53, 55);
  }
}

@media (max-width: 768px) {
  .task__table {
    &-header {
      display: none;
    }
  }
}